<label class="mdc-text-field mdc-text-field--outlined property-field">
  <span class="mdc-notched-outline">
    <span class="mdc-notched-outline__leading"></span>
    <span class="mdc-notched-outline__notch">
      <span class="mdc-floating-label" id="{{id}}-label">{{title}}</span>
    </span>
    <span class="mdc-notched-outline__trailing"></span>
  </span>
  <input type="text" id="{{id}}" class="mdc-text-field__input {{#if disabled}}input-disabled{{/if}}"
    aria-labelledby="{{id}}-label" value="{{#if value}}{{value}}{{/if}}">
</label>