<div class="mdc-form-field">
    <div class="mdc-radio radio-1">
        <input class="mdc-radio__native-control option-1" type="radio" id="{{id}}-1" name="radios">
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
    </div>
    <label for="{{id}}-1">{{option1}}</label>
    <div class="mdc-radio radio-2">
        <input class="mdc-radio__native-control option-2" type="radio" id="{{id}}-2" name="radios">
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
    </div>
    <label for="{{id}}-2">{{option2}}</label>
</div>